*

!.Xresources
!.bash_profile
!.bashrc
!.eslintrc.js
!.config/
!.config/aliasrc
!.config/bat/
!.config/bat/config
!.config/bmdirs
!.config/bmfiles
!.config/calcurse/
!.config/calcurse/conf
!.config/calcurse/keys
!.config/dconf/
!.config/dconf/dconf.ini
!.config/dconf/dconf-personal-backup.ini
!.config/dunst/
!.config/dunst/dunstrc
!.config/emoji
!.config/fontawesome
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/getkeys/
!.config/getkeys/calcurse
!.config/getkeys/i3
!.config/getkeys/mutt
!.config/getkeys/ncmpcpp
!.config/getkeys/newsboat
!.config/getkeys/sxiv
!.config/getkeys/zathura
!.config/greenclip.cfg
!.config/git/
!.config/git/ignore
!.config/gtk-2.0/
!.config/gtk-2.0/gtkrc-2.0
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/htop/
!.config/htop/htoprc
!.config/i3/
!.config/i3/config
!.config/i3blocks/
!.config/i3blocks/config
!.config/interception-tools/
!.config/interception-tools/udevmon.yaml
!.config/kitty/
!.config/kitty/kitty-themes/
!.config/kitty/kitty-themes/gruvbox_dark.conf
!.config/kitty/kitty-themes/gruvbox_light.conf
!.config/kitty/kitty.conf
!.config/kitty/light.conf
!.config/kitty/smart_scroll.py
!.config/libinput-gestures.conf
!.config/mimeapps.list
!.config/mpd/
!.config/mpd/mpd.conf
!.config/mps-youtube/
!.config/mps-youtube/config.json
!.config/mpv/
!.config/mpv/input.conf
!.config/ncmpcpp/
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/newsboat/
!.config/newsboat/config
!.config/newsboat/urls
!.config/nvim/
!.config/nvim/after/
!.config/nvim/after/ftplugin/
!.config/nvim/after/ftplugin/gitcommit.vim
!.config/nvim/after/ftplugin/javascript.vim
!.config/nvim/after/syntax/
!.config/nvim/after/syntax/javascript.vim
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/nvim/mini-init.vim
!.config/nvim/snips/
!.config/nvim/snips/UltiSnips/
!.config/nvim/snips/UltiSnips/javascript/javascript.snippets
!.config/nvim/snips/UltiSnips/php/php.snippets
!.config/nvim/snips/UltiSnips/vimwiki/vimwiki.snippets
!.config/nvim/spell/
!.config/nvim/spell/es.utf-8.add
!.config/nvim/spell/es.utf-8.add.spl
!.config/nvim/spell/es.utf-8.spl
!.config/nvim/spell/es.utf-8.sug
!.config/nvim/wiki-init.vim
!.config/qutebrowser/
!.config/qutebrowser/autoconfig.yml
!.config/qutebrowser/bookmarks/
!.config/qutebrowser/bookmarks/urls
!.config/qutebrowser/config.py
!.config/qutebrowser/dark.css
!.config/qutebrowser/dark2.css
!.config/qutebrowser/quickmarks
!.config/qutebrowser/solarized-dark-all-sites.css
!.config/qutebrowser/white.css
!.config/qutebrowser/white2.css
!.config/rofi/
!.config/rofi/config
!.config/sxhkd/
!.config/sxhkd/sxhkdrc
!.config/sxiv/exec/
!.config/sxiv/exec/key-handler
!.config/tig/
!.config/tig/config
!.config/user-dirs.dirs
!.config/vifm/
!.config/vifm/colors/dark.vifm
!.config/vifm/colors/light.vifm
!.config/vifm/colors/luke.vifm
!.config/vifm/vifmrc
!.config/wall.jpg
!.config/wall.png.bak
!.config/xterm/
!.config/xterm/dark
!.config/xterm/light
!.config/zathura/
!.config/zathura/zathurarc
!.emacs.d/init.el
!.gitconfig
!.gitignore
!.icons/default/index.theme
!.ignore
!.inputrc
!.local/
!.local/bin/
!.local/bin/SCRIPTS.md
!.local/bin/cron/IMPORTANT_NOTE.md
!.local/bin/cron/checkup
!.local/bin/cron/cronbat
!.local/bin/cron/crontog
!.local/bin/cron/newsup
!.local/bin/i3cmds/cabl
!.local/bin/i3cmds/camtoggle
!.local/bin/i3cmds/ddspawn
!.local/bin/i3cmds/displayselect
!.local/bin/i3cmds/dmenumount
!.local/bin/i3cmds/dmenurecord
!.local/bin/i3cmds/dmenuumount
!.local/bin/i3cmds/dmenuunicode
!.local/bin/i3cmds/dropdowncalc
!.local/bin/i3cmds/ducksearch
!.local/bin/i3cmds/hover
!.local/bin/i3cmds/i3resize
!.local/bin/i3cmds/killrecording
!.local/bin/i3cmds/maimpick
!.local/bin/i3cmds/prompt
!.local/bin/i3cmds/samedir
!.local/bin/i3cmds/showclip
!.local/bin/i3cmds/td-toggle
!.local/bin/i3cmds/tmuxdd
!.local/bin/i3cmds/toggletouchpad
!.local/bin/i3cmds/torwrap
!.local/bin/i3cmds/tutorialvids
!.local/bin/i3cmds/winresize
!.local/bin/statusbar/battery
!.local/bin/statusbar/clock
!.local/bin/statusbar/cpu
!.local/bin/statusbar/disk
!.local/bin/statusbar/help
!.local/bin/statusbar/internet
!.local/bin/statusbar/iplocate
!.local/bin/statusbar/mailbox
!.local/bin/statusbar/memory
!.local/bin/statusbar/mpdupdate
!.local/bin/statusbar/music
!.local/bin/statusbar/news
!.local/bin/statusbar/pacpackages
!.local/bin/statusbar/popupgrade
!.local/bin/statusbar/torrent
!.local/bin/statusbar/volume
!.local/bin/statusbar/weather
!.local/bin/tools/compiler
!.local/bin/tools/copy_url.sh
!.local/bin/tools/dmenuhandler
!.local/bin/tools/dmenupass
!.local/bin/tools/ext
!.local/bin/tools/extract
!.local/bin/tools/getbib
!.local/bin/tools/getkeys
!.local/bin/tools/ifinstalled
!.local/bin/tools/lastpass-rofi
!.local/bin/tools/linkhandler
!.local/bin/tools/lmc
!.local/bin/tools/opout
!.local/bin/tools/pauseallmpv
!.local/bin/tools/podentr
!.local/bin/tools/qndl
!.local/bin/tools/queueandnotify
!.local/bin/tools/remaps
!.local/bin/tools/rinit
!.local/bin/tools/rofi-lpass
!.local/bin/tools/ronshut
!.local/bin/tools/rotdir
!.local/bin/tools/rssadd
!.local/bin/tools/setbg
!.local/bin/tools/shortcuts
!.local/bin/tools/texclear
!.local/bin/tools/transadd
!.local/bin/tools/updatezshplugins
!.local/bin/tools/vifmimg
!.local/bin/tools/vu
!.local/bin/ttymaps.kmap
!.local/bin/unix
!.local/share/
!.local/share/applications/
!.local/share/applications/img.desktop
!.local/share/applications/mail.desktop
!.local/share/applications/pdf.desktop
!.local/share/applications/rss.desktop
!.local/share/applications/text.desktop
!.local/share/applications/torrent.desktop
!.local/share/fonts/02-iosevka-term-2.2.1/.uuid
!.local/share/fonts/02-iosevka-term-2.2.1/iosevka-term-regular.charmap
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/.uuid
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-bold.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-bolditalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-boldoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-extrabold.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-extrabolditalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-extraboldoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-extralight.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-extralightitalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-extralightoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-heavy.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-heavyitalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-heavyoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-italic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-light.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-lightitalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-lightoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-medium.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-mediumitalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-mediumoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-oblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-regular.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-semibold.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-semibolditalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-semiboldoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-thin.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-thinitalic.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/ttf/iosevka-term-thinoblique.ttf
!.local/share/fonts/02-iosevka-term-2.2.1/webfont.css
!.local/share/larbs/larbs.png
!.local/share/larbs/readme.mom
!.npmrc
!.profile
!.tmux.conf
!.vim
!.vimrc
!.w3m/
!.w3m/RestoreTab.txt
!.w3m/bookmark.html
!.w3m/cgi-bin/search_engines.cgi
!.w3m/cheatsheet
!.w3m/config
!.w3m/keymap
!.w3m/mailcap
!.w3m/urimethodmap
!.xinitrc
!.xprofile
!.zprofile
!.zshrc
!Fonts/Pragmata_Pro.zip
!Fonts/liga-iosevka-2.2.1.zip
!PKGs/
!PKGs/interception-caps2esc-git/PKGBUILD
!PKGs/interception-caps2esc-git/add-toggle-to-remap-esc.patch
!PKGs/interception-tools-git/PKGBUILD
!PKGs/interception-tools-git/udevmon.service
!PKGs/keynav-git/PKGBUILD
!PKGs/zsh-autopair/PKGBUILD
!PKGs/zsh-autosuggestions-git/PKGBUILD
!PKGs/zsh-completions-git/PKGBUILD
!PKGs/zsh-neurosimple/PKGBUILD
!PKGs/zsh-syntax-highlighting-git/PKGBUILD
!PKGs/zsh-system-clipboard/PKGBUILD
!etc/
!etc/NetworkManager/
!etc/NetworkManager/conf.d/
!etc/NetworkManager/conf.d/default-wifi-powersave-on.conf
!etc/X11/
!etc/X11/xorg.conf.d/
!etc/X11/xorg.conf.d/20-intel.conf
!etc/X11/xorg.conf.d/30-touchpad.conf
!etc/pacman.conf
!etc/sysctl.d/
!etc/sysctl.d/90-override.conf
!etc/systemd/system/run-on-shutdown.service
!etc/systemd/system/run-on-start.service
!etc/vconsole.conf
!usr/lib/w3m/cgi-bin/goto_clipboard.cgi
!usr/lib/w3m/cgi-bin/restore_tab.cgi

#Downloads/
#manjaro/
#notes/
#code/
#syncthing/
#.cache/
#.ssh/
#.mozilla/
#.npm-global/
#.npm/
#.config/nvim/autoload/
#.config/nvim/plugged/
#.config/Postman/
#.config/qutebrowser/bookmarks/
#.config/qutebrowser/quickmarks
#.bash_history
#.w3m/cookie
#.w3m/history
#.local/lib/*
#.local/share/*
#!.local/share/larbs
#!.local/share/applications
#!.local/share/fonts
#.local/share/fonts/*
#!.local/share/fonts/02-iosevka-term-2.2.1
