Downloads/
manjaro/
notes/
code/
syncthing/
.cache/
.ssh/
.mozilla/
.npm-global/
.npm/
.config/nvim/autoload/
.config/nvim/plugged/
.config/Postman/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.bash_history
.w3m/cookie
.w3m/history
.local/lib/*
.local/share/*
!.local/share/larbs
!.local/share/applications
!.local/share/fonts
.local/share/fonts/*
!.local/share/fonts/02-iosevka-term-2.2.1
