manjaro/
notes/
code/
.cache/
.ssh/
.local/share/
.mozilla/
.npm-global/
.npm/
.config/nvim/autoload/
.config/nvim/plugged/
.config/Postman/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
