[Unit]
Description=Run a bash script at start
After=network.target systemd-user-sessions.service NetworkManager-wait-online.service
Requires=network.target systemd-user-sessions.service NetworkManager-wait-online.service
RequiresMountsFor=/home

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/neuromante/.local/bin/tools/ro
User=neuromante

[Install]
WantedBy=multi-user.target
